target/

#configs
config.service.ts
config.json

#other
.springBeans
.tern-project
hs_err_pid7608.log
.factorypath
.classpath
/.sts4-cache
/logs
.idea

# Properties
src/main/environment/104_local.properties
